<div class="container col-md-7">
    <div class="card">
        <div class="card-header" >
            <h3 align=center>Agregar</h3>
        </div>
        <div class="card-body">
                <div class="form-group">
                    <label for="ControlNombre">Id</label>
                    <input [(ngModel)]="agregarEmpleadoRegistro.id" type="text" class="form-control" >
                    </div>  

                <div class="form-group">
                <label for="ControlNombre">Nombre</label>
                <input [(ngModel)]="agregarEmpleadoRegistro.data.nombre" type="text" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="ControlNombre">Apellido Paterno</label>
                    <input  [(ngModel)]="agregarEmpleadoRegistro.data.apellidoPat"type="text" class="form-control">
                    </div>

                <div class="form-group">
                    <label for="ControlNombre">Apellido Materno</label>
                    <input [(ngModel)]="agregarEmpleadoRegistro.data.apellidoMat" type="text" class="form-control" >
                    </div>    

            
                <div class="form-group">
                    <label for="ControlNombre">Email</label>
                    <input [(ngModel)]="agregarEmpleadoRegistro.data.email" type="text" class="form-control" >
                    </div>
                    <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
           
        </div>
    </div>
</div>

